@tailwind components;
@tailwind utilities;

@layer components {
    .all-\[unset\] {
        all: unset;
    }
}

:root {
    --body-font-family: "Poppins", Helvetica;
    --body-font-size: 18px;
    --body-font-style: normal;
    --body-font-weight: 400;
    --body-letter-spacing: -0.36px;
    --body-line-height: 120.00000476837158%;
    --button-large-font-family: "Poppins", Helvetica;
    --button-large-font-size: 16px;
    --button-large-font-style: normal;
    --button-large-font-weight: 600;
    --button-large-letter-spacing: -0.32px;
    --button-large-line-height: 100%;
    --button-small-font-family: "Poppins", Helvetica;
    --button-small-font-size: 14px;
    --button-small-font-style: normal;
    --button-small-font-weight: 600;
    --button-small-letter-spacing: -0.28px;
    --button-small-line-height: normal;
    --caption-font-family: "Poppins", Helvetica;
    --caption-font-size: 14px;
    --caption-font-style: normal;
    --caption-font-weight: 400;
    --caption-letter-spacing: -0.28px;
    --caption-line-height: 112.00000047683716%;
    --collection-1-0: 0px;
    --collection-1-0-25: 4px;
    --collection-1-0-5: 8px;
    --collection-1-1: 16px;
    --collection-1-1-5: 24px;
    --collection-1-10: 160px;
    --collection-1-2: 32px;
    --collection-1-2-5: 40px;
    --collection-1-3: 48px;
    --collection-1-4: 64px;
    --collection-1-5: 80px;
    --collection-1-6: 96px;
    --collection-1-7-5: 120px;
    --collection-1-block-high: 800px;
    --collection-1-block-margin: 120px;
    --collection-1-block-paddings: 0px;
    --collection-1-mob-block-margim: 64px;
    --desktop-h1-font-family: "Monument Extended", Helvetica;
    --desktop-h1-font-size: 72px;
    --desktop-h1-font-style: normal;
    --desktop-h1-font-weight: 400;
    --desktop-h1-letter-spacing: -2.88px;
    --desktop-h1-line-height: 70px;
    --desktop-h2-font-family: "Poppins", Helvetica;
    --desktop-h2-font-size: 59px;
    --desktop-h2-font-style: normal;
    --desktop-h2-font-weight: 500;
    --desktop-h2-letter-spacing: -2.36px;
    --desktop-h2-line-height: 100%;
    --desktop-h3-font-family: "Poppins", Helvetica;
    --desktop-h3-font-size: 48px;
    --desktop-h3-font-style: normal;
    --desktop-h3-font-weight: 500;
    --desktop-h3-letter-spacing: -1.2px;
    --desktop-h3-line-height: 106.5000057220459%;
    --desktop-h4-font-family: "Poppins", Helvetica;
    --desktop-h4-font-size: 28px;
    --desktop-h4-font-style: normal;
    --desktop-h4-font-weight: 500;
    --desktop-h4-letter-spacing: -0.56px;
    --desktop-h4-line-height: 110.00000238418579%;
    --hilight-color: rgba(173, 0, 255, 1);
    --mobile-h1-font-family: "Poppins", Helvetica;
    --mobile-h1-font-size: 60px;
    --mobile-h1-font-style: normal;
    --mobile-h1-font-weight: 600;
    --mobile-h1-letter-spacing: -4.8px;
    --mobile-h1-line-height: 100%;
    --mobile-h2-font-family: "Poppins", Helvetica;
    --mobile-h2-font-size: 44px;
    --mobile-h2-font-style: normal;
    --mobile-h2-font-weight: 500;
    --mobile-h2-letter-spacing: -1.76px;
    --mobile-h2-line-height: 100%;
    --mobile-h3-font-family: "Poppins", Helvetica;
    --mobile-h3-font-size: 28px;
    --mobile-h3-font-style: normal;
    --mobile-h3-font-weight: 500;
    --mobile-h3-letter-spacing: -0.7px;
    --mobile-h3-line-height: 106.5000057220459%;
    --mobile-h4-font-family: "Poppins", Helvetica;
    --mobile-h4-font-size: 24px;
    --mobile-h4-font-style: normal;
    --mobile-h4-font-weight: 500;
    --mobile-h4-letter-spacing: -0.48px;
    --mobile-h4-line-height: 110.00000238418579%;
    --subtitle-font-family: "Poppins", Helvetica;
    --subtitle-font-size: 18px;
    --subtitle-font-style: normal;
    --subtitle-font-weight: 500;
    --subtitle-letter-spacing: -0.36px;
    --subtitle-line-height: 120.00000476837158%;
}